<li>
	{{this.id}}. {{this.burger_name}}
	<div class="form-inline">
		<button class="status-btn" data-id="{{this.id}}" data-status="{{this.devoured}}">
			{{#unless this.devoured}} Devour!{{/unless}}
		</button>
	</div>
</li>